header {
  display: flex;
  width: 100%;
  background: rgba(255,255,255,0.3);
}

h3 {
  margin: 25px 20px;
  font-weight: 700;
  font-size: 2.5em;
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

nav ul li {
  list-style-type: none;
  margin-right: 25px;
  cursor: pointer;
}

nav ul li:hover {
  transform: scale(1.2);
}

nav ul li:last-of-type {
  margin-left: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,0.3);
}
