header {
  display: flex;
  width: 100%;
  background: rgba(255,255,255,0.3);
}

h3 {
  margin: 25px 20px;
  font-weight: 700;
  font-size: 3em;
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

nav ul li {
  margin-right: 25px;
  font-size: 1.5em;
  list-style-type: none;
  cursor: pointer;
}

nav ul li:hover {
  transform: scale(1.2);
}

nav ul li:last-of-type {
  margin-left: auto;
}

.page-container {
  padding-bottom: 60px;    /* Footer height */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: rgba(255,255,255,0.3);
}
