<ng-container *ngIf="(books$ | async) as books; else booksEmpty">
  <ng-container *ngIf="books.length > 0; else booksEmpty">
    <section class="books-list">
      <div *ngFor="let book of books">
        <app-book-card [book]="book"></app-book-card>
      </div>
    </section>
  </ng-container>
</ng-container>

<ng-template #booksEmpty>
  <ng-container *ngIf="!(booksError$ | async); else booksServerError">
    <section class="books-message-container">
      <p>There are not any books yet, but we are working on adding some!</p>
    </section>
  </ng-container>
</ng-template>

<ng-template #booksServerError>
  <section class="books-message-container">
    <p>{{ (booksError$ | async) }}</p>
  </section>
</ng-template>
