<section class="login-form-container">
  <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h3 class="login-form-header">Welcome to your own Library!</h3>
    <div class="login-form-input-field">
      <label class="login-form-input-field__label" for="username">Username:</label>
      <input
        class="login-form-input-field__input"
        id="username"
        type="text"
        autocomplete="off"
        formControlName="username">
      <p class="login-form-input-field__error" *ngIf="username.errors?.['required'] && username.touched">
        Username is required.
      </p>
    </div>
    <div class="login-form-input-field">
      <label class="login-form-input-field__label" for="password">Password:</label>
      <input
        class="login-form-input-field__input"
        id="password"
        type="password"
        autocomplete="off"
        formControlName="password">
      <p class="login-form-input-field__error" *ngIf="password.errors?.['required'] && password.touched">
        Password is required.
      </p>
    </div>
    <div class="login-form-error" *ngIf="loginError$ | async as loginError">
      {{loginError}}
    </div>
    <button class="login-form-button" type="submit" [disabled]="!loginForm.valid">
      Sign In
    </button>
  </form>
</section>
