<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">First Name:</label>
    <input id="username" type="text" formControlName="username">
    <p *ngIf="username.errors?.['required'] && username.touched">
      Username is required.
    </p>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <p *ngIf="password.errors?.['required'] && password.touched">
      Password is required.
    </p>
  </div>
  <div *ngIf="loginError$ | async as loginError">
    {{loginError}}
  </div>
  <button type="submit" [disabled]="!loginForm.valid">
    Sign In
  </button>
</form>
